.message{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.messageTop{
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 300px;
}

.messageImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;

}

.messageText{
    height: 80%;
    padding: 10px;
    border-radius: 20px;
    background-color: gainsboro;
    color: black;
    font-size: 15px;
}

.messageBottom{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: gray;
    margin-top: 5px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background: coral;
    color: white;
}
